<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Sistema de Anotações</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{'/'}">SISTEMA DE ANOTAÇÕES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/anotacoes'}">Lista de anotações</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/adicionar'}">Adicionar nova anotação</a>
            </li>
        </ul>
    </div>
</nav>

<div align="center" style="margin-top:6em;margin-bottom:6em;margin-right:2em;margin-left:2em;">
    <div class="row" >
        <div class="col-md-4" th:each="anotacao : ${listaAnotacoes}">
            <div class="card" style="padding:2em;margin-top:1em;margin-bottom:1em;" >
                <div class="icones" style="margin-bottom:1em;">
                    <a th:href="@{'/anotacao/' + ${anotacao.id}}" ><i title="Ver Anotação" class="fa-regular fa-eye single-icon"></i></a>
                    <a th:href="@{'/editar/' + ${anotacao.id}}" ><i title="Editar Anotação" class="fa-regular fa-pen-to-square editar-icon"></i></a>
                    <a th:href="@{'/delete/' + ${anotacao.id}}" onclick="return confirm('Deletar anotação?')" ><i title="Deletar Anotação" class="fa-regular fa-trash-can deletar-icon"></i></a>
                </div>
                <h5 th:text="${anotacao.titulo}" class="card-title">Título</h5>
                <br>
                <hr>
                <br>
                <p th:text="${anotacao.descricao}" class="card-text">Descrição</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>